Host 241
	HostName sp21-cs241-adm.cs.illinois.edu
	User ericsz2

Host grd-*
	HostName fa20-cs241-%h.cs.illinois.edu
	User ericsz2

Host 423
        HostName sp21-cs423-97.cs.illinois.edu
        User ericsz2

Host EWS
	HostName linux.ews.illinois.edu
	User ericsz2

Host Nick
	HostName 76.102.32.201
	User eric
