Host 241
	HostName sp20-cs241-414.cs.illinois.edu
	User ericsz2

Host grd-01
	HostName sp20-cs241-grd-01.cs.illinois.edu
	User ericsz2

Host grd-02
	HostName sp20-cs241-grd-01.cs.illinois.edu
	User ericsz2

Host EWS
	HostName linux.ews.illinois.edu
	User ericsz2

Host Nick
	HostName 76.102.32.201
	User eric
