Host 241
	HostName fa20-cs241-adm.cs.illinois.edu
	User ericsz2

Host grd-*
	HostName fa20-cs241-%h.cs.illinois.edu
	User ericsz2

Host g51-*
        HostName fa20-cs425-%h.cs.illinois.edu
        User ericsz2

Host EWS
	HostName linux.ews.illinois.edu
	User ericsz2

Host Nick
	HostName 76.102.32.201
	User eric
